#root {
  max-width: 600px;
}

.todo-title {
  font-size: 16px;
  height: 24px;
  font-weight: bold;
}

.todo-view {
  height: 24px;
}

.todo-title span,
.todo-view span {
  display: inline-block;
  border: 1px solid grey;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.todo-title span:nth-child(1),
.todo-view span:nth-child(1) {
  width: 60px;
}

.todo-title span:nth-child(2),
.todo-view span:nth-child(2) {
  width: 120px;
}

.todo-title span:nth-child(3),
.todo-view span:nth-child(3) {
  width: 240px;
}

.todo-title span:nth-child(4),
.todo-view span:nth-child(4) {
  width: 80px;
}

.doer-statistic {
  width: 100%;
  height: 22px;
  overflow: hidden;
}

.doer-statistic span {
  float: left;
  background-color: #f44336;
  text-align: center;
}

.doer-statistic span:nth-child(2) {
  background-color: #009688;
}

/* postcss example */

::placeholder {
  color: gray;
}

.do-not-exist {
  display: flex;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

$blue: #056ef0;
$column: 200px;

.menu {
  width: calc(4 * $column);
}

.menu_link {
  background: color-mod($blue alpha(90%));
  width: $column;
}
