.todo-title{
  font-size: 16px;
  height: 24px;
  font-weight: bold;
}

.todo-view{
  height: 24px;
}

.todo-title span,.todo-view span{
  display: inline-block;
  border: 1px solid grey;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.todo-title span:nth-child(1),.todo-view span:nth-child(1){
  width: 60px;
}

.todo-title span:nth-child(2),.todo-view span:nth-child(2){
  width: 120px;
}

.todo-title span:nth-child(3),.todo-view span:nth-child(3){
  width: 240px;
}

.todo-title span:nth-child(4),.todo-view span:nth-child(4){
  width: 80px;
}
